body{
    background: url('../images/istockphoto-1405246054-612x612.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}
div.loginName {
    margin: 50px;
}
div.loginName {
    text-align: center;
    
}
div.loginName h1{
    font-size:60px;
    font-weight: bold;
    padding: 0px;
    margin: auto;
    color: aliceblue;
}
div.loginName h3{
    font-size: 30px;
    font-weight: lighter;
    padding: auto;
    margin: 0%;
    color: white;
}